.header {
  display: flex;
  align-items: center;
  height: var(--header-height);
}

.headerInner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 12px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
  grid-column: 1/2;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: var(--sp-24);
  z-index: 1;
  grid-column: 2/13;
}

.indicator {
  display: flex;
  align-items: center;
  gap: var(--sp-4);
  margin: var(--sp-8) 0;

  span {
    display: block;
    height: 2px;
    width: 32px;
    background-color: var(--body);
    transition: all 0.3s ease-in-out;
  }

  .current {
    background-color: var(--off-white);
    opacity: 0.5;
  }

  .passed {
    background-color: var(--off-white);
  }
}

.stepCounter {
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 10px;
}

@media (max-width: 480px) {
  .indicator {
    span {
      width: 24px;
    }
  }
}
