.card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--off-white);
  padding: var(--sp-24);
  gap: var(--sp-24);
  border-radius: 10px;
  flex-grow: 1;
  flex-basis: 280px;

  svg {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    color: var(--primary-dark)
  }
}


.cardTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardBottom {
  display: flex;
  flex-direction: column;
}

.percentage {
  color: var(--primary-dark);
  font-weight: bold;
}
