.aside {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 300px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.post {
  display: flex;
  gap: 16px;
  color: var(--off-white);
}

.img {
  height: 80px;
  width: 87px;
  display: flex;
  flex-shrink: 0;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 50px;
}

.desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p:last-of-type {
    display: inline-flex;
    align-items: center;
  }

  svg {
    margin-right: 6px;
  }
}
